<!DOCTYPE html>
<html>
    <head>
        <!-- META HTML -->
        <title>Spending Recap</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="src/view/css/general.css">
        <link rel="stylesheet" type="text/css" href="src/view/css/foundation.min.css">

        <!-- JS LIBS -->
		
        <!-- CONTROLLERS -->
       	

        <script type="text/javascript">
            $(document).ready(function()
            {
                //CoreController.start(myBundle);
            });
        </script>
    </head>
    <body>
        <div class="app row">
            <div class="row header">
            	<div class="title columns">
            		<h1>My Spending Recap - 10th october 2013</h1>
            	</div>
            </div>
            <div class="row content">
            	
            </div>
            <div class="row footer">
            	
            </div>
        </div>
    </body>
</html>