<html>
    <head>
        <!-- META HTML -->
        <title>Spending Recap</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="src/view/css/general.css">
        <link rel="stylesheet" type="text/css" href="src/view/css/foundation.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

        <!-- JS LIBS -->
    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
        <!-- CONTROLLERS -->
  
    </head>
      <body class="body">
        <div class="app row">
          <form>
            <div class="row collapse">
              <div class="small-3 large-2 columns">
                <span class="prefix">Login</span>
              </div>
              <div class="small-9 large-10 columns">
                <input type="text" placeholder="Enter your URL...">
              </div>   
              <div class="small-3 large-2 columns">
                <span class="prefix">Password</span>
              </div>
              <div class="small-9 large-10 columns">
                <input type="text" placeholder="Enter your URL...">
              </div>
            </div>
          </form>
        </div>
      </body>
</html>